@import 'variables';

.search-input {
    margin-bottom: 48px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0 24px 0;
    display: block;
    border: 1px solid $accent-color;
    border-radius: 4px;
    font-size: 16px;
    width: 40rem;
    color: $secondary-color;
}

input[type=submit] {
    padding: 8px 8px;
    margin: 8px 0;
    display: block;
    width: 100px;
    border: none;
    font-size: 16px;
    background-color: $primary-color-light;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 1;
}