@import 'variables';

pre {
    font-family: $main-font-family;
}

.contact-card > * {
    margin-top: 16px;
    margin-bottom: 16px;
}

.social {
    display: inline-block;
    padding: 20px 20px 20px 0;

    img {
        height: 30px;
        width: 30px;
    }
}