@import "variables";
@import 'header';
@import 'form';
@import 'search';
@import 'userProfile';
@import 'rep';

html, body {
    margin: 0;
    height: 100%;
    font-family: $main-font-family;
    color: $secondary-color;
}

#root {
    height: 100%;
    display: flex;
    flex-flow: column;

    .header {
        flex-grow: 0;
    }
    
    .content-area {
        flex-grow: 1;
        overflow-y: auto;
        background-color: $background-color;
        padding-left: 160px;
        padding-top: 42px;
    }
}

.container {
    width: max-content;
    padding: 1rem;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: $heading-font-family;
    color: $primary-color;
    margin: 0 0 24px 0;
}

button {
    padding: 8px 8px;
    margin: 8px 0;
    display: block;
    width: 100px;
    border: none;
    font-size: 16px;
    background-color: $primary-color-light;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}