@import "variables";

header {
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;

    .main-title {
        color: white;
        font-family: 'Sanchez', serif;
        font-size: 20px;
        margin-left: 24px;
        padding: 10px;
        background-color: $primary-color-light;
        width: $main-title-width;

        .title-wrapper-1 {
            display: grid;
        }

        .title-wrapper-2 {
            display: inline-grid;
            grid: 25px 25px / auto 27px;

            #question-mark {
                grid-column: 2;
                grid-row: 1 / -1;
                font-family: 'News Cycle', sans-serif;
                font-size: 50px;
                line-height: 40px;
                text-align: center;
            }
        }
    }

    nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 48px;
        text-align: left;

        a {
            color: $secondary-color;
            height: max-content;
            padding: 10px 32px 10px 32px;
            font-weight: bold;
        }

        a:hover {
            color: $primary-color;
        }
    }
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }